<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="k.c.common.lib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application>
        <activity
            android:name="k.c.common.lib.DialogActivity"
            android:label="@string/title_activity_dialog"
            android:excludeFromRecents="true"
            android:theme="@style/Translucent"/>
    </application>

</manifest>